body {
  background-color: #ececec;
  line-height: 27px;
  font-size: 1.5em;
}
.popover-title {
  color: #37424c;
}
.popover-content {
  color: #37424c;
}
.emph {
  font-weight: bold;
}
#top-header {
  position: fixed;
  width: 100%;
  z-index: 15;
  padding-top: 15px;
  padding-bottom: 13px;
  background-color: black;
  color: #ececec;
}
.fa-spin {
  -webkit-animation: fa-spin 5s infinite linear;
  animation: fa-spin 5s infinite linear;
}
.version-badge {
  visibility: visible;
  background-color: transparent;
  color: #37424c;
  margin-top: 15px;
  margin-left: 25px;
}
.post {
  box-shadow: 0px 1px 5px #ababab;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 15px;
  background-color: #ffffff;
}
.main {
  box-shadow: inset 1px 3px 1px -2px #ababab;
  padding-top: 60px;
  padding-bottom: 15px;
}
a.crate-icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-left: 10px;
  background: url("../img/crateicon.png") no-repeat center center;
  background-size: 32px 32px;
}
.remoteCaret {
  position: absolute;
}
.squareCaret {
  position: absolute;
  top: -6px;
  left: -2px;
  width: 6px;
  height: 6px;
}
.infoCaret {
  position: absolute;
  bottom: 6px;
  left: -6px;
  padding: 2px 4px;
  color: #333;
}
.ace_editor,
.ace_scroller,
.ace_marker-layer {
  overflow: visible !important;
}
