body {
  padding-top: 70px;
  background-color:#EEEEEE;
}

#editor{
  width:100%;
  height:520px;
  display:block;
  box-sizing: border-box;
  background-color:white;
}

.container{
  width:100%;
}

.navbar .nav {
  margin-top: 9px;
}